$blue: #3083FF;
$bg-light: #FAFAFA;
$text-dark: #191919;
$text-gray: #9EA3AC;

.benefits {
  padding: 100px 0;
  overflow: hidden;
@media (max-width: 1024px) {
     padding: 80px 20px;
}
@media (max-width: 480px) {
     padding: 0px 15px;
}
  &__header {
    margin-bottom: 40px;
  }

  &__title {
    font-size: 50px;
    font-weight: 500;
    color: $text-dark;
    line-height: 1.2;
    margin-bottom: 20px;
    max-width: 600px;
  }

  &__subtitle {
    font-size: 18px;
    color: $text-gray;
    max-width: 550px;
    line-height: 1.6;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 колонки
    gap: 30px;
    flex: 1;
  }

  &__phone {
    position: relative;
    flex: 0 0 375px;
    display: flex;
    justify-content: center;
    
    img {
      position: absolute;
      top: -250px;
      right: 0px;
      max-width: 100%;
      
      height: auto;
    }
  }
}

.benefit-card {
  background-color: $bg-light;
  border-radius: 40px;
  padding: 45px 35px;
  display: flex;
  flex-direction: column;
  min-height: 250px;       
  box-sizing: border-box;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  &__icon {
    width: 48px;
    height: 48px;
    background-color: $blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    color: #fff;
    font-size: 20px;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    color: $text-dark;
    line-height: 1.3;
    margin-bottom: 15px;
  }

  &__desc {
    font-size: 15px;
    color: $text-gray;
    line-height: 1.5;
    margin: 0;
  }
}

// --- Адаптив ---
@media (max-width: 1100px) {
  .benefits__content {
    flex-direction: column-reverse;
  }
  .benefits__phone {
    position: static;
    order: -1; // Телефон сверху на планшетах
    margin-bottom: 40px;
    img{
      position: static;
    }
  }
}

@media (max-width: 768px) {
  .benefits__title {
    font-size: 28px;
  }
  .benefits__grid {
    grid-template-columns: 1fr; 
  }
  .benefit-card {
    padding: 30px;
    min-width: 100%;
    min-height: auto;
     &:hover {
    transform: translateY(0px);
  }
  }
}