$primary-blue: #3b82f6;
$bg-color: #f8f9fa;
$text-gray: #6c757d;
$border-color: #e9ecef;

.queue-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  @media (max-width: 1024px) {
    width: 100%;
      padding: 20px;
  box-sizing: border-box;
  }
  @media (max-width: 480px) {
    width: 100%;
      padding: 15px;  
  box-sizing: border-box;
  }
  section {
    background: #fff;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.164);
  }
}
.status-cars{
  padding: 10px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px #FFFFFF;
}
.status-card {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #FAFAFA;
    border-radius: 100px;
    .profile {
      padding: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      .avatar {
         width: 52px; 
         height: 52px;
          background: #000;
           border-radius: 50%; 
            display: grid; 
            overflow: hidden;
            place-items: center;
           }
      h3 { margin: 0; font-size: 1.1rem; color: black; }
      p { margin: 0; font-size: 0.8rem; color: $text-gray; }
    }
  }

  &__controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    
    .time-badge, .call-button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      padding: 8px;
      border-radius: 100px;
      text-align: center;
      background: #FAFAFA;
      h3{
        font-weight: 500;
        font-size: 16px;
        color: #000;
        @media (max-width: 480px) {
               font-size: 14px;
  }
      }
    }
  }

  &__position {
    .label-row {
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
      span{
        font-size: 24px;
        font-weight: 500;
        color: #000;
      }
      .waiting-status { color: #FF6900; font-size: 18px; }
    }

    .number-display {
      display: flex;
      justify-content: center;
      align-items: end;
      gap: 11px;
      text-align: center;
      margin: 10px 0;
      .current { font-size: 60px; font-weight: 700; color: #000; }
      .total { display: flex; flex-direction: column; color: $text-gray; font-size: 1.2rem; margin-bottom: 10px; }
    }

    .progress-bar {
      height: 30px;
      background: #eff6ff;
      border-radius: 105px;
      overflow: hidden;
      .progress-fill { height: 100%; background: $primary-blue; border-radius: 105px; }
    }
  }
}
.wait-time{
  display: flex;
  padding: 0px 5px;
  gap:10px;
  align-items: center;
  height: 60px;
  margin-top: 16px;
  background-color: #FAFAFA;
  border-radius: 100px;
  h4{
    color: #707782;
    font-weight: 400;
    font-size: 16px;
  }
  strong{
  font-weight: 600;
  font-size: 18px;
  color: #000;
  }
}
.queue-list {
  padding: 0 !important;
  h4 { padding: 16px; margin: 0; font-size: 18px; font-weight: 500; color: #4D4D4D;}

  .queue-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
    border-radius: 30px;

    &.active {
      background-color: #FAFAFA; // Можно выделить цветом
      .status-text { font-weight: bold; }
    }

    &__left {
      display: flex;
      gap: 12px;
      .details{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
        justify-content: center;
      }
      .avatar-small { width: 52px; height: 52px; background: #000; border-radius: 50%; color: #fff; display: grid; place-items: center; font-size: 0.7rem; overflow: hidden;}
      .status-text { margin: 0; font-size: 20px; color: #000; font-weight: 500 !important;}
      .sub-text { margin: 0; font-size: 16px; color: #8992A0; font-weight: 500 !important;}
    }

    &__right {
      display: flex;
      flex-direction: column;
      gap: 10px;
       justify-content: center;
      margin-right: 15px;
      text-align: right;
      .time { margin: 0; font-size: 16px; color: #000; font-weight: 500; }
      .plate { margin: 0; font-size: 15px; color: #8992A0; font-weight: 500; }
    }
  }
}

@media (max-width: 786px) {

  .time-badge{
    justify-content: start !important;
  }
}