$primary-blue: #3083FF;
$text-dark: #191919;
$text-gray: #848484;
$bg-light: #F5F7FA;
$white: #fff;

// Breakpoints
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;

.problem{
    margin-top: 200px;
    @media (max-width: $laptop) {
        margin-top: 150px;
    }

    @media (max-width: $tablet) {
        margin-top: 100px;
    }

    @media (max-width: $mobile) {
        margin-top: 60px;
    }

    &__title{
        font-size: 50px;
        font-weight: 500;
        color: $text-dark;
        margin-bottom: 40px;
        line-height: 1.2;

        @media (max-width: $laptop) {
            padding-left: 20px;
            font-size: 42px;
        }

        @media (max-width: $tablet) {
            font-size: 36px;
            margin-bottom: 30px;
        }

        @media (max-width: $mobile) {
            font-size: 28px;
            margin-bottom: 25px;
            padding-left: 15px;
        }
    }

    .problems{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        @media (max-width: $laptop) {
            padding: 20px;
            gap: 25px;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $tablet) {
            gap: 20px;
        }

        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            gap: 20px;
            margin-bottom: 50px;
             padding: 15px;
        }

        &__card{
            position: relative;
             padding: 30px 35px;      
            height: 550px;
            border-radius: 50px;
            background-color: #FAFAFA;

            @media (max-width: $laptop) {
                height: 500px;
                border-radius: 40px;
                padding: 25px;
            }

            @media (max-width: $tablet) {
                height: 450px;
                border-radius: 35px;
            }

            @media (max-width: $mobile) {
                height: auto;
                min-height: 400px;
                border-radius: 30px;
                padding: 20px;
            }

            h1{
                font-size: 24px;
                font-weight: 600;
                color: $text-dark;
                margin-top: 20px;
                margin-bottom: 10px;

                @media (max-width: $tablet) {
                    font-size: 20px;
                    margin-top: 15px;
                }

                @media (max-width: $mobile) {
                    font-size: 18px;
                }
            }

            p{
                font-size: 16px;
                font-weight: 400;
                color: $text-gray;
                line-height: 1.6;

                @media (max-width: $mobile) {
                    font-size: 15px;
                }
            }

            .cardsImg{
                bottom: 0px;
                right: 0px;
                position: absolute;
                width: 70%;
                height: auto;
                border-radius: 50px;

                @media (max-width: $laptop) {
                    max-height: 50%;
                }
                @media (max-width: $mobile) {
                     width: 50%;
                }
            }
        }

        &__othercard{
            height: 550px;
            display: flex;
            flex-direction: column;
            gap: 28px;
            align-items: stretch;
            justify-content: space-between;
            @media (max-width: $laptop) {
                height: 500px;
                gap: 25px;
            }

            @media (max-width: $tablet) {
                height: 450px;
                gap: 20px;
            }

            @media (max-width: $mobile) {
                height: auto;
                gap: 20px;
            }

            .othercard1{
                flex: 1;
                border-radius: 50px;
                padding: 45px 35px;   
                background-color: #FAFAFA;

                @media (max-width: $laptop) {
                    height: 232px;
                    border-radius: 40px;
                    padding: 35px 30px;
                }

                @media (max-width: $tablet) {
                    height: 210px;
                    border-radius: 35px;
                    padding: 30px 25px;
                }

                @media (max-width: $mobile) {
                    height: auto;
                    min-height: 200px;
                    border-radius: 30px;
                    padding: 25px 20px;
                }

                h1{
                    font-size: 24px;
                    font-weight: 600;
                    color: $text-dark;
                    margin-top: 20px;
                    margin-bottom: 10px;

                    @media (max-width: $tablet) {
                        font-size: 20px;
                        margin-top: 15px;
                    }

                    @media (max-width: $mobile) {
                        font-size: 18px;
                    }
                }

                p{
                    font-size: 16px;
                    font-weight: 400;
                    color: $text-gray;
                    line-height: 1.6;

                    @media (max-width: $mobile) {
                        font-size: 15px;
                    }
                }

            }
            .othercard2{
                position: relative;
                height: 266px !important;
                border-radius: 50px;
                background-color: #FAFAFA;
                padding: 0px;

                @media (max-width: $laptop) {
                    height: 243px;
                    border-radius: 40px;
                }

                @media (max-width: $tablet) {
                    height: 220px;
                    border-radius: 35px;
                }

                @media (max-width: $mobile) {
                    height: auto;
                    min-height: 200px;
                    border-radius: 30px;
                }

                img {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 100%;
                    height: 125%;
                    border-radius: 50px;
                    object-fit: cover;
                      @media (max-width: $mobile) {
                     height: 100%;
                }
                }
            }
        }
    }
}