@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
}
.container{
  width: 1128px;
  margin: 0 auto;
}
.screen{
  width: 1440px;
  margin: auto;
}